*{
    margin: 0;
    padding: 0;
    background-color: rgb(0, 0, 0);
    color: whitesmoke;
    text-align: center;
}
body{
    /* padding: 50px; */
}
.title{
    background-image: url("https://www.teahub.io/photos/full/296-2963358_graphic-design.jpg");
    background-color: black;
    background-repeat: no-repeat;
    background-size: cover;
    width: 13rem;
    height: 7rem;
    margin: 0 auto;
}